.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: var(--background-img-url);
  background-size: cover;
  background-position: center;
  z-index: -1;
  max-width: 1440px;
  transition: background 0.2s;
}
