.header {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__logo {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 12px;
    font-size: 36px;
    font-weight: 700;

  }

  &__theme-toggle {
    border: none;
    width: 25px;
    height: 25px;
    background: var(--toggle-img-url);
    background-size: contain;
    background-position: center;
    transition: opacity 0.2s, background 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}
