.app {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 500px) {
    & {
      padding-top: 20px;
    }
  }

  &__container {
    max-width: 500px;
    width: 100%;
    padding: 40px;

    @media screen and (max-width: 500px) {
      & {
        padding: 20px;
      }
    }
  }
}
