body {
  background-color: var(--background-body-color);
  position: relative;
  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

html[data-theme="light"] {
  --background-body-color: #fafafa;
}

html[data-theme="dark"] {
  --background-body-color: #161722;
}
