body {
  background-color: var(--background-body-color);
  position: relative;
  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

html[data-theme="light"] {
  --background-img-url: url(./images/bg-desktop-light.jpg);
  --background-img--mobile-url: url(./images/bg-mobile-light.jpg);
  --toggle-img-url: url(./images/icon-moon.svg);
  --background-body-color: #f8f8f8;
  --background-container-color: #ffffff;
  --text-color: #212337;
  --box-shadow-color: #cac9c980;
  --text-gray-color: #8e8c8c;
}

html[data-theme="dark"] {
  --background-img-url: url(./images/bg-desktop-dark.jpg);
  --background-img--mobile-url: url(./images/bg-mobile-dark.jpg);
  --toggle-img-url: url(./images/icon-sun.svg);
  --background-body-color: #161722;
  --background-container-color: #212337;
  --text-color: #ffffff;
  --box-shadow-color: #141520;
  --text-gray-color: #8e8c8c;
}
